/* page styles */

html {
    scroll-behavior: smooth;
    background-color: black;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* nav bar styles */
menu {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    list-style: none;
    position: fixed;

    top: 0;
    left: 0;
    z-index: 999;
    margin-top: 0;
    padding: 0 10px 0 10px;
    gap: 10px;

    width: 100%;
    height: 50px;
    background-color: #474a2c;
}

menu li {
    width: 100%;
    height: 100%;
    background-color: #474a2c;
}

menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #474a2c;
    color: #9bdeac;
}

menu a:hover {
    background-color: #636940;
}

.active {
    background-color: #636940;
}

section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url("http://placekitten.com/3000/3000");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 20px;
    opacity: 0;
    transition: 3s all ease;
}

.reveal {
    opacity: 1;
}

/* Cards */
main {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100vh;
    padding-bottom: 20px;
}

.carosel-card {
    z-index: 990;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    padding-bottom: 20px;
}

.carosel-text-container {
    width: 90%;
    padding: 10px;
    z-index: 999;
    background-color: rgba(225, 225, 225, 0.3);
}
